@{
    ViewBag.Title = "Contacto";
}

<address>
    Estudiantes de la Universidad del Valle<br />
    Ingenieria de Sistemas<br />
    <abbr title="Phone">P:</abbr>
   Maria Alejandra Pabon 1310263
   Edwin Gamboa          1310233
   Roger Fernandez       1310229
   David Zuluaga         1310294
</address>

<address>
    <strong>Soporte</strong>   <a href="mailto:Support@example.com">malejapa93@gmail.com</a><br />

</address>